/* size */
:root {
  --size-button: 60px;
  --button-font-size: 18px;
  --size-thumbnail: 50px;
  /* ani */
  --size-animation-duration: 300ms;
}

body {
  height: 100vh;
  background-color: skyblue;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.logo {
  cursor: pointer;
  transition: transform var(--size-animation-duration) ease;
}

.logo:hover,
.btn:hover {
  transform: scale(1.1);
}

.buttons {
  display: flex;
  align-items: center;
}

.btn {
  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  transition: transform var(--size-animation-duration) ease;
  margin-right: 8px;
}

.imgBtn {
  width: var(--size-button);
  height: var(--size-button);
}

.colorBtn {
  font-size: var(--button-font-size);
  padding: 32px;
  border-radius: 4px;
}

.blue {
  background-color: blue;
}
.yellow {
  background-color: yellow;
}
.pink {
  background-color: pink;
}

.items {
  width: 60%;
  height: 60%;
  list-style: none;
  padding-left: 0;
  overflow-y: auto;
}
.item {
  background-color: white;
  display: flex;
  align-items: center;
  padding: 5px;
  margin-bottom: 5px;
}

.item__thumbnail {
  width: var(--size-thumbnail);
  height: var(--size-thumbnail);
}
